<div class="flex">
    <div class="grow">
        <div>
            <div class="text-sm">{{ article.author }}</div>
            <div class="font-bold">{{ article.title }}</div>
	    <div>{{ article.meta_description }}...</div>
        </div>
        <div>
            <span>#photography</span>
            <span>#travel</span>
            <span>#winter</span>
        </div>
    </div>
    <div class="flex-none w-32">
        <img src="https://picsum.photos/seed/picsum/800/480" alt="article vignette" class="rounded-lg"/>
    </div>
</div>
