[Unit]
Description=Heiwa service

[Service]
ExecStart=/usr/local/bin/heiwa serve /var/www/my_website
Restart=always
KillMode=process
RestartSec=2s

[Install]
WantedBy=multi-user.target
