{% extends "layout.html" %}

{% block title %}{{ meta_title }}{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-3xl">
        Welcome
    </h1>
</div>
<div class="mx-auto py-6">
    <input type="search" id="search" name="search" placeholder="Search"
           class="min-w-full px-4 py-2 border rounded-lg border-heiwa-100 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 dark:bg-heiwa-500 dark:border-heiwa-300 dark:placeholder-heiwa-100"/>
</div>
<div class="grid grid-cols-1 gap-4">
    {% for article in articles %}
        {% include "tags/article-list.html" %}
    {% endfor %}
</div>

{% endblock %}
