{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold">
    {{ title }}
</h1>
<div class="mx-auto py-6">
    <input type="search" id="search" name="search" placeholder="Search" class="px-4 py-2 min-w-full md:min-w-md border-2 rounded-lg">
</div>
<div class="grid">
    {% for article in articles %}
    <div>
        <article>
            <header>{{ article.title }}</header>
            {{ article.content }}
            <footer>By {{ article.author }}</footer>
        </article>
    </div>
    {% endfor %}
</div>

{% endblock %}