{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold underline">
    {{ title }}
</h1>
<input type="search" id="search" name="search" placeholder="Search">
<div class="grid">
    {% for article in articles %}
    <div>
        <article>
            <header>{{ article.title }}</header>
            {{ article.content }}
            <footer>By {{ article.author }}</footer>
        </article>
    </div>
    {% endfor %}
</div>

{% endblock %}