{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-3xl">Sign in</h1>
</div>
<div class="mx-auto mt-6 py-4 px-4 md:max-w-md border border-heiwa-200 rounded-lg bg-heiwa-50 dark:bg-heiwa-400 dark:border-heiwa-300 font-sans">
    <form action="/login" method="post">
        <div class="flex flex-col">
            <label for="name">Username</label>
            <input
                    type="text"
                    id="name"
                    name="name"
                    aria-label="Name"
                    autocomplete="username"
                    class="mt-1 rounded-md border-slate-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 dark:bg-heiwa-500 dark:border-heiwa-400"
                    required
            />
            <label for="password" class="mt-4">Password</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    aria-label="Password"
                    autocomplete="current-password"
                    class="mt-1 rounded-md border-slate-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 dark:bg-heiwa-500 dark:border-heiwa-400"
                    required
            />
            <button type="submit"
                    class="mt-4 bg-heiwa-600 hover:bg-heiwa-700 text-heiwa-50 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline">
                Sign In
            </button>
            <div class="mt-4 text-center text-sm">
                <a href="#">Forgot password ?</a>
            </div>
        </div>
    </form>
    <div class="mt-4 text-center text-red-500">
        {% if alert.len() != 0 %}
        <p>{{ alert }}</p>
        {% endif %}
        {% endblock %}
    </div>
</div>
