{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<h1>Sign in</h1>
<article class="grid">
    <div>
        <form action="/register" method="post">
            <input
                    type="text"
                    name="name"
                    placeholder="Login"
                    aria-label="Login"
                    autocomplete="username"
                    required
            />
            <input
                    type="text"
                    name="email"
                    placeholder="E-mail"
                    aria-label="email"
                    autocomplete="email"
                    required
            />
            <input
                    type="text"
                    name="display_name"
                    placeholder="Display Name"
                    aria-label="dislay name"
                    autocomplete="given-name"
                    required
            />
            <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    aria-label="Password"
                    autocomplete="new-password"
                    required
            />
            <input type="submit">
            {% if alert.len() != 0 %}
            <p>{{ alert }}</p>
            {% endif %}
        </form>
    </div>
</article>
{% endblock %}