{% extends "layout-dashboard.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div>
    {% if alert.len() != 0 %}
    <p>{{ alert }}</p>
    {% endif %}
    <form action="{{ action }}" method="post" class="flex flex-row">
        <div class="grow flex flex-col ">
            <input
                    type="hidden"
                    id="author_id"
                    name="author_id"
                    value="{{ author_id }}"
                    required
            />
            <input
                    type="text"
                    id="title"
                    name="title"
                    placeholder="Title"
                    aria-label="Title"
                    value="{{ title }}"
                    autocomplete="off"
                    class="px-0 bg-inherit border-0 focus:ring-0 focus:border-l-1 focus:border-black text-3xl"
                    required
            />
            <textarea
                    content="content"
                    name="content"
                    placeholder="Article content"
                    aria-label="content"
                    rows="20"
                    class="px-0 bg-inherit border-0 focus:ring-0 focus:border-l-1 focus:border-black"
                    autocomplete="off"
                    oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                    required
            >{{ content }}</textarea>
        </div>
        <div class="flex-none">
            <button class="py-2 px-4 bg-heiwa-600 hover:bg-heiwa-700 text-sm text-white font-bold rounded-md focus:outline-none focus:shadow-outline">
                Publish
            </button>
        </div>
    </form>
</div>
{% endblock %}
