{% extends "layout-dashboard.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="mt-4 flex flex-row space-x-4">
    <div>
        <h1 class="text-3xl">
            My Articles
        </h1>
    </div>
    <div>
        <a href="/dashboard/article">
            <button class="py-2 px-4 bg-heiwa-600 hover:bg-heiwa-700 text-sm text-heiwa-50 rounded-md focus:outline-none focus:shadow-outline">
                Write
            </button>
        </a>
        <a href="#">
            <button class="py-2 px-4 bg-heiwa-600 hover:bg-heiwa-700 text-sm text-heiwa-50 rounded-md focus:outline-none focus:shadow-outline">
                Import
            </button>
        </a>
    </div>
</div>
<div class="mt-6 flex flex-col space-y-4">
    <p>{{ alert }}</p>
    {% for article in articles %}
    {% include "tags/dashboard-article-list.html" %}
    {% endfor %}
    {% endblock %}
</div>
