<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{{ title }} - My Site{% endblock %}</title>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/statics/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/statics/favicon.ico" type="image/x-icon">
    <link href="/statics/dist/styles.css" rel="stylesheet">
</head>
<body class="bg-heiwa-50 dark:bg-heiwa-500 dark:text-heiwa-100">
{% include "tags/nav.html" %}
<main class="px-4 py-6 mx-auto md:max-w-5xl font-sans">
    {% include "tags/dashboard-menu.html" %}
    {% block content %}{% endblock %}
</main>
{% include "tags/footer.html" %}
</body>
