<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{{ title }} - My Site{% endblock %}</title>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/statics/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/statics/favicon.ico" type="image/x-icon">
    <link href="/statics/dist/styles.css" rel="stylesheet">
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><a href="/" class="contrast"><strong>Heiwa</strong></a></li>
    </ul>
    <ul>
        <li><a href="/register">S'inscrire</a></li>
        <li><a href="/login">Se connecter</a></li>
    </ul>
</nav>
<main class="container">
    <section>
        {% block content %}<p>Placeholder content</p>{% endblock %}
    </section>
</main>
<footer class="container-fluid">
    <div class="grid">
        <div><small>Made with &hearts; by Hidrile</small></div>
    </div>
</footer>
</body>