<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{{ title }} - My Site{% endblock %}</title>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/statics/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/statics/favicon.ico" type="image/x-icon">
    <link href="/statics/dist/styles.css" rel="stylesheet">
</head>
<body>
<nav class="flex flex-row items-center px-4 md:px-6 py-2 h-12 bg-slate-200">
    <div class="flex-none">
        <a href="/"><strong>Heiwa</strong></a>
    </div>
    <div class="grow text-right">
        <a href="/register">S'inscrire</a>
        <a href="/login">Se connecter</a>
    </div>
</nav>
<main class="px-4 md:px-6 py-6">
    <section>
        {% block content %}{% endblock %}
    </section>
</main>
<footer class="flex items-center px-4 pb-2 md:px-6 h-12 bg-slate-200">
    <div class="grow text-center">
        <small>Made with &hearts; by Hidrile</small>
    </div>
</footer>
</body>